{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">Writing</h1>
{{ end }}
{{ .Content }}
<!-- <h2>Read me:</h2>
     <ul class="posts">
	 {{- range .Data.Pages -}}
	 {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
	 <li class="post">
	 <a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
	 </li>
	 {{- end -}}
	 {{- end -}}
     </ul>
-->

<div class="list">
    <h2>Writing here</h2>
    <p>Thoughts I've gathered in private</p>
</div>
<ul class="posts">
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.section_writing }}
{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
{{ range $paginator.Pages }}
<section class="list-item">
	<h3 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h3>
    <p>{{ template "partials/pagedescription.html" . }}</p>
	<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
</section>
{{ end }}
{{ template "partials/paginator.html" . }}
</ul>

<div class="list">
    <h2>Architectural projects I've worked on</h2>
    <p>Things I've written in other places</p>
</div>
<ul class="posts">
{{ range first 5 .Site.Data.external_architecture.entries }}
<section class="list-item">
    <h3 class="title"><a href="{{ .url }}">{{ .title }}</a></h3>
    {{ with .description }}
    <p>{{ . }}</p>
    {{ end }}
    <a class="readmore" href="{{ .url }}">Read more ⟶</a>
</section>
{{ end }}

</ul>

{{ end }}
